body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFDFEF;
  /* font-family: Verdana; */
  /* font-family: 'Varela Round', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Nanum Gothic', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.trip-card {
  color: white;
  background-color: #FF2793;
  padding: 10px;
}

/* .btn{
  color: white;
  background-color: #FF2793;
} */
#trip{
  color: white;
  background-color: #FF2793;
}

a.nav-link:link, a.nav-link:visited {
  color: #FF2793;
}

a.nav-link:hover {
  color: #916B7E;
}

li {list-style-type: none;}

h1, h2, h3, .cursive  {
  font-family: 'Shadows Into Light', cursive;
}

 h4, h5, h6, .headers {
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Staatliches', cursive;
}

/* .headers {
  font-family: 'Staatliches', cursive;
} */
